target/
bench
cpython-venv
/web/pkg
*.pyc
*.egg-info/
cpython-install-*/
cpython_test_run.log
.diet_python_cache
cpython_full_test_run.log
cpython_full_test_run_summary.txt
/logs
/tmp
/.uv/
/.uv-cache/
/.xdg/
/web/history_metrics.html

# coverage artifacts
*.cover
untrack/
*~
#*
